* {
  -web-kit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Helvetica";
  src: url("https://tossdown-images-live.s3.amazonaws.com/fonts/Helvetica.ttf")
      format("truetype"),
    url("https://tossdown-images-live.s3.amazonaws.com/fonts/Helvetica.ttf")
      format("ttf");
  font-variant-ligatures: no-common-ligatures;
}

html {
  scroll-behavior: smooth;
}
body {
  touch-action: manipulation;
  font-family: "Helvetica";
  width: 100%;
  margin: 0px;
}
:root {
  touch-action: pan-x pan-y;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.cursor-pointer {
  cursor: pointer;
}
.custom_container {
  max-width: 1548px;
  margin: 0 auto;
}
.focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: unset !important;
}
button:focus-visible {
  outline: unset !important;
}

/* header style  */
/* for home page only  */
.desk_header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}
.desk_header {
  padding: 38px 20px;
  backdrop-filter: blur(4px);
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
.header_logo {
  width: 124px;
}
.header_listing a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 30px;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
}
.header_listing a i {
  padding-left: 16px;
  font-size: 17px;
}
.header_listing a:last-child {
  margin-right: 0px;
}
.header_login_btn {
  background: #c0221f;
  color: #fff !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 31px;
  margin-left: 30px;
}
.header_toggle_btn i {
  color: #c0221f;
  font-size: 24px;
  margin-left: 20px;
}
.header_btns a i {
  color: #FFFFFF;
  font-size: 18px;
}
/* mobile menu css */
div#mobileMenu {
  background: #FFFFFF0D;
  backdrop-filter: blur(20px);
  border: 1px solid #FFFFFF26;
  width: 100%;
}
.mobile_menu_header {
  padding: 40px 20px !important;
}
.mobile_menu_header button {
  color: #fff !important;
  background: transparent;
  box-shadow: unset !important;
  border: unset !important;
  outline: unset !important;
  font-size: 23px;
  position: absolute;
  top: 39px;
  right: 30px;
}

.mobile_listing {
  max-width: 175px;
  margin: 0 auto;
  text-align: center;
}
.mobile_listing a {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #fff !important;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff2e;
  width: 100%;
}
.mobile_listing a i {
  padding-left: 16px;
  font-size: 17px;
}
.mobile_listing a:last-child {
  margin-right: 0px;
}

@media(max-width:1250px){
  .header_listing a {
    font-size: 14px;
  }
  .header_listing a i {
    padding-left: 10px;
    font-size: 13px;
}
.header_logo {
  width: 110px;
}
}
/* home banner style */
.home_banner {
  margin-bottom: 120px;
}
.home_banner_text_box {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  left: 0px;
}
.home_banner_container {
  max-width: 1050px;
  margin: 0 auto;
  height: 100%;
}
.home_banner_content small {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 30px;
  text-transform: uppercase;
  color: #fff;
}
.home_banner_content h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 85px;
  color: #ffffff;
  padding-bottom: 30px;
}
.home_banner_btn a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid #ffffff;
  background: transparent;
  padding: 5px 29px;
  color: #ffffff !important;
  position: relative;
  transition: 0.4s ease-in-out;
}
.home_banner_btn a:first-child {
  border-color: #c0221f;
  background: #c0221f;
  margin-right: 30px;
}
.home_banner_btn a:first-child:hover {
  background: transparent;
  border-color: #ffffff;
}

.home_banner_btn a:hover {
  border-color: #c0221f;
  background: #c0221f;
}
.home_banner_dots_wrapper {
  position: absolute;
  left: 0px;
  bottom: 175px;
  width: 100%;
  padding: 0px 20px;
}

.home_banner_dots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  li {
    width: 100%;
    margin: 0;
  }
  button {
    position: relative;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: rgba(233, 236, 239, 0.3);
    font-size: 0;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 0%;
      height: 100%;
    }
  }

  .slick-active {
    button:after {
      background-color: #fff;
      animation: progress 5.5s linear forwards;
    }
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
@media (max-width: 1250px) {
  .home_banner {
    margin-bottom: 80px;
  }
  .home_banner_dots_wrapper {
    bottom: 60px;
  }
}
@media (max-width: 1024px) {
  .home_banner {
    margin-bottom: 60px;
  }
  .home_banner_content h2 {
    font-size: 46px;
    line-height: 58px;
  }
  .home_banner_content small {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .home_banner_container {
    max-width: 768px;
  }
  .home_banner_btn a {
    font-size: 16px;
  }
  .home_banner_btn a:first-child {
    margin-right: 18px;
  }
}
@media (max-width: 767px) {
  .home_banner_slide figure img {
    height: 800px !important;
  }
  .home_banner_content h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .home_banner_content small {
    font-size: 16px;
    padding-bottom: 9px;
  }
}
@media (max-width: 540px) {
  .home_banner_container {
    max-width: 350px;
  }
  .home_banner_content h2 {
    font-size: 36px;
    line-height: 46px;
  }
  .home_banner_content small {
    font-size: 12px;
    line-height: 20px;
    padding-bottom: 10px;
  }
  .home_banner_btn {
    flex-direction: column !important;
  }
  .home_banner_btn a:first-child {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .home_banner_btn a {
    font-size: 14px;
    width: 263px;
  }
  .home_banner_dots_wrapper {
    bottom: 31px;
  }
}

/* home section 2 css */
.home_sec2 {
  margin-bottom: 120px;
  padding: 0px 20px;
}
.home_sec2_box {
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}
.home_sec2_box2 {
  gap: 30px 30px;
}
.home_sec2_box2_content {
  background: #c0221f;
  padding: 44px 10px;
  font-family: "Cormorant Garamond", serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 130px;
  color: #fff;
}
.home_sec2_box1 {
  gap: 30px 30px;
}
.home_sec2_box1_content {
  background: #000000;
  padding: 74px 55px;
  font-family: "Cormorant Garamond", serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 100px;
  color: #fff;
}
.home_sec2_box1_inner {
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}
.home_sec2_box1_inner_one {
  gap: 30px 30px;
}

@media (max-width: 1250px) {
  .home_sec2 {
    margin-bottom: 80px;
  }
  .home_sec2_box2_content {
    padding: 10px 10px;
    font-size: 76px;
    line-height: 79px;
  }
  .home_sec2_box1_content {
    padding: 60px 20px;
    font-size: 50px;
    line-height: 69px;
  }
}
@media (max-width: 992px) {
  .home_sec2 {
    margin-bottom: 60px;
  }
  .home_sec2_box {
    gap: 20px 20px;
  }
  .home_sec2_box1 {
    gap: 20px 20px;
  }
  .home_sec2_box1_inner {
    gap: 20px 20px;
  }
  .home_sec2_box1_inner_one {
    gap: 20px 20px;
  }
  .home_sec2_box2 {
    gap: 20px 20px;
  }
  .home_sec2_box2_content {
    font-size: 54px;
    line-height: 58px;
  }
  .home_sec2_box1_content {
    padding: 54px 20px;
    font-size: 36px;
    line-height: 46px;
  }
}
@media (max-width: 767px) {
  .home_sec2_box {
    grid-template-columns: 1fr;
    gap: 10px 10px;
  }
  .home_sec2_box1 {
    gap: 10px;
  }
  .home_sec2_box1_inner {
    gap: 10px;
  }
  .home_sec2_box1_inner_one {
    gap: 10px;
  }
  .home_sec2_box2 {
    gap: 10px;
  }
  .home_sec2_box2_content {
    padding: 20px 10px;
    font-size: 60px;
    line-height: 70px;
  }
}

/* home section 3 style */

.home_sec3_text_box {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  left: 0px;
}
.home_sec3_container {
  max-width: 1278px;
  margin: 0 auto;
  height: 100%;
}
.home_sec3_dots_container {
  max-width: 1278px;
  margin: 0 auto;
}
.home_sec3_content {
  padding-top: 190px;
}
.home_sec3_content h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  color: #ffffff;
  padding-bottom: 30px;
}
.home_sec3_content p {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  padding-bottom: 20px;
}
.home_sec3_content p:last-child {
  padding-bottom: 0px;
}

.home_sec3_dots_wrapper {
  position: absolute;
  left: 0px;
  bottom: 175px;
  width: 100%;
  padding: 0px 20px;
}

.home_sec3_dots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0px;
  li {
    width: 100%;
    margin: 0;
    cursor: pointer;
  }
  span.dot-label {
    display: flex;
    width: 100%;
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    justify-content: center;
    color: #fff;
  }
  button {
    position: relative;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: rgba(233, 236, 239, 0.3);
    font-size: 0;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 0%;
      height: 100%;
    }
  }

  .slick-active {
    button:after {
      background-color: #fff;
      animation: progress 5.5s linear forwards;
    }
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
@media (max-width: 1600px) {
  .home_sec3_content {
    padding-top: 100px;
  }
  .home_sec3_dots_wrapper {
    bottom: 100px;
  }
  .home_sec3_slide figure img {
    height: 900px !important;
  }
}
@media (max-width: 1250px) {

  .home_sec3_dots_wrapper {
    bottom: 60px;
  }
  .home_sec3_content {
    padding-top: 60px;
  }
  .home_sec3_content p {
    font-size: 22px;
    line-height: 31px;
  }
  .home_sec3_content h2 {
    font-size: 48px;
    line-height: 52px;
  }
  .home_sec3_dots span.dot-label {
    font-size: 20px;
    line-height: 24px;
  }
  .home_sec3_slide figure img {
    height: 800px !important;
  }
}
@media (max-width: 1024px) {

  .home_sec3_dots li {
    display: none; /* Hide all dots */
  }

  .home_sec3_dots li.slick-active {
    display: inline-block;
  }
  .home_sec3_dots {
    grid-template-columns: 1fr;
  }
  .home_sec3_content p {
    font-size: 18px;
    line-height: 26px;
  }
  .home_sec3_content h2 {
    font-size: 44px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .home_sec3_slide figure img {
    height: 800px !important;
  }
  .home_sec3_content h2 {
    font-size: 32px;
    line-height: 48px;
  }
  .home_sec3_content p {
    font-size: 16px;
  }
  .home_sec3_slide figure img {
    height: 850px !important;
  }
}
@media (max-width: 540px) {
  .home_sec3_content h2 {
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 15px;
  }
  .home_sec3_content {
    padding-top: 31px;
  }
  .home_sec3_dots_wrapper {
    bottom: 31px;
  }
  .home_sec3_content p {
    font-size: 16px;
    line-height: 20px;
  }
}

/* home section 4 style */
.home_sec4 {
  margin-bottom: 120px;
}
.home4_grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home4_grid figure img {
  transition: 0.3s ease-in-out;
}
.home4_grid figure figcaption {
  bottom: 0;
  padding: 10px 40px 36px 40px;
}

.home4_content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #ffffff;
  padding-bottom: 15px;
}
.home4_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}

.home4_content img{
max-width: 150px;
margin-bottom: 30px;
display: none;
}
.home4_content a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff !important;
  background: #C0221F;
  border:1px solid #C0221F;
  padding: 5px 30px;
  margin-top: 30px;
  display: none;
    transition: 0.4s ease-in-out;
}
.home4_content a:hover{
background: transparent;
    border-color: #ffffff;
  }
.home4_content small{
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
margin-top: 15px;
  color: #ffffff;
  display: none;
}


.home4_grid figure:hover .home4_img{
  transform: scale(1.3);
}
.home4_grid figure:hover .home4_content {
  height: 100%;
  justify-content: center !important;
}
.home4_grid figure:hover figcaption{
 height: 100%;
}

.home4_grid figure:hover .home4_content img{
display: flex;
 }
 .home4_grid figure:hover .home4_content a{
  display: flex;
 }
 .home4_grid figure:hover .home4_content small{
  display: flex;
 }

@media (max-width: 1450px) {
  .home4_content h3 {
    font-size: 36px;
    line-height: 46px;
  }
  .home4_content p {
    font-size: 16px;
    line-height: 23px;
  }
}
@media (max-width: 1250px) {
  .home_sec4 {
    margin-bottom: 80px;
  }
  .home4_content h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .home4_grid figure figcaption {
    padding: 10px 30px 36px 30px;
  }
}
@media (max-width: 1024px) {
  .home_sec4 {
    margin-bottom: 60px;
  }
  .home4_grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 540px) {
  .home4_grid {
    grid-template-columns: 1fr;
  }
  .home4_content img {
    display: flex !important;
    max-width: 100px;
}
.home4_content a {
  display: flex !important;
}
.home4_content small {
  display: flex !important;
}
.home4_grid figure figcaption {
  height: 100% !important;
}
 .home4_content {
  height: 100% !important;
  justify-content: center !important;
}
}

/* home section 5 stlye */

.home_sec5 {
  margin-bottom: 160px;
  padding: 0px 20px;
}
.home5_heading {
  padding-bottom: 90px;
}
.home5_heading h2 {
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  color: #c0221f;
  font-family: "Cormorant Garamond", serif;
}
.home5_heading p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}
.home5_listing_main {
  gap: 120px;
}
.home5_single_list {
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}
.home5_single_list figure {
  gap: 30px 30px;
}
.home5_listing_content small {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #c0221f;
  padding-bottom: 5px;
}
.home5_listing_content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 30px;
  color: #000;
}
.home5_des {
  padding-bottom: 60px;
}

.home5_des p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 15px;
  color: #000;
}
.home5_des p:last-child {
  padding-bottom: 0px;
}
.home5_btn a {
  background: #c0221f;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 31px;
  color: #fff !important;
  border: 1px solid #c0221f;
transition: 0.3s ease-in-out;
cursor: pointer;
}
.home5_btn a:hover{
border-color:#000;
color: #000 !important;
background: #fff;
}
.home5_list1 {
  grid-template-columns: 1fr 1.3fr;
}
.home_5_reverse_img {
  grid-template-columns: 1.3fr 1fr;
}
.home5_transform {
  transform: translatey(60px);
}
@media (max-width: 1250px) {
  .home_sec5 {
    margin-bottom: 80px;
  }
  .home5_heading {
    padding-bottom: 60px;
  }
  .home5_heading h2 {
    padding-bottom: 20px;
    font-size: 44px;
    line-height: 42px;
  }
  .home5_heading p {
    font-size: 16px;
    line-height: 22px;
  }
  .home5_listing_content h3 {
    font-size: 44px;
    line-height: 50px;
    padding-bottom: 20px;
  }
  .home5_listing_content small {
    font-size: 22px;
    line-height: 27px;
  }

  .home5_des p {
    font-size: 16px;
    line-height: 24px;
  }
  .home5_listing_main {
    gap: 60px;
  }
}
@media (max-width: 1024px) {
  .home_sec5 {
    margin-bottom: 120px;
  }
  .home5_single_list {
    grid-template-columns: 1fr;
  }
  .home5_list1 img:last-child {
    transform: translatey(0px);
  }
  .home5_list1 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .home5_list1 {
    grid-template-columns: 1fr;
  }
  .home5_single_list figure {
    display: none !important;
  }
  .home5_listing_content img {
    display: flex !important;
  }
  .home5_listing_content img {
    padding-bottom: 15px;
  }
  .home5_heading h2 {
    padding-bottom: 15px;
    font-size: 28px;
    line-height: 34px;
  }
  .home5_heading p {
    font-size: 14px;
    line-height: 20px;
  }
  .home5_listing_content h3 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .home5_listing_content small {
    font-size: 16px;
    line-height: 12px;
  }
  .home5_des {
    padding-bottom: 15px;
  }
  .home5_des p {
    font-size: 14px;
    line-height: 20px;
  }
  .home_sec5 {
    margin-bottom: 60px;
}
}

/* home section 6 style */
.home_sec6 {
  margin-bottom: 120px;
}
.home6_grid {
  grid-template-columns: 1fr 1fr;
}

.home6_grid figure img {
  transition: 0.3s;
}
.home6_grid figure figcaption {
  bottom: 18%;
  padding: 15px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home6_hover_varient {
  display: none;
}
.home6_grid figure:hover .home6_main_img {
  transform: scale(1.3);
}
.home6_grid figure:hover .home6_content a {
  visibility: visible;
}
.home6_grid figure:hover .home6_simple_varient {
  display: none;
}
.home6_grid figure:hover .home6_hover_varient {
  display: block;
}

.home6_content {
  max-width: 547px;
  margin: 0 auto;
}
.home6_content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  color: #ffffff;
  padding-bottom: 30px;
}
.home6_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
}
.home6_content img {
  max-width: 90px;
  margin-bottom: 30px;
}
.home6_content a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: #c0221f;
  border: 1px solid #c0221f;
  color: #ffffff !important;
  padding: 5px 30px;
  margin-top: 60px;
  visibility: hidden;
  cursor: pointer;
transition: 0.4s ease-in-out;
}
.home6_content a:hover{
background: transparent;
    border-color: #ffffff;
  }

@media (max-width: 1450px) {
  .home6_content h3 {
    font-size: 36px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .home6_content p {
    font-size: 16px;
    line-height: 23px;
  }
  .home6_content a {
    margin-top: 40px;
  }
}
@media (max-width: 1250px) {
  .home_sec6 {
    margin-bottom: 80px;
  }
  .home6_content h3 {
    font-size: 30px;
    line-height: 36px;
  }
  .home6_grid figure figcaption {
    padding: 10px 30px 36px 30px;
  }
  .home6_content img {
    max-width: 65px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  .home_sec6 {
    margin-bottom: 60px;
  }
  .home6_grid figure figcaption {
    bottom: 0%;
  }
}
@media (max-width: 767px) {
  .home6_grid {
    grid-template-columns: 1fr;
  }
  .home6_hover_varient {
    display: block !important;
  }
  .home6_simple_varient {
    display: none !important;
  }
  .home6_content a {
    visibility: visible !important;
  }
}
@media (max-width: 540px) {
  .home6_grid {
    grid-template-columns: 1fr;
  }
  .home6_grid figure figcaption {
    bottom: unset !important;
  }
  .home6_grid figure > img {
    height: 852px !important;
  }
  .home6_content img {
    max-width: 60px;
    margin-bottom: 29px;
  }
  .home6_content h3 {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .home6_content p {
    font-size: 14px;
    line-height: 20px;
  }
  .home6_content a {
    font-size: 14px;
    padding: 5px 84px;
    margin-top: 29px;
  }
}

/* home section 7 style */

.home_sec7 {
  margin-bottom: 120px;
  background: #000000;
  padding: 156px 0px 210px 90px;
}
.home7_header {
  margin-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}

.home7_header h2 {
  font-size: 56px;
  font-weight: 700;
  line-height: 66px;
  color: #ffffff;
  padding-bottom: 30px;
  font-family: "Cormorant Garamond", serif;
}

.home7_header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  max-width: 1022px;
  color: #ffffff;
}

.home7_slider_box {
  flex: 0 0 75%;
  max-width: 75%;
}
.home7_current_slider {
  flex: 0 0 25%;
  max-width: 25%;
}

.home7_single_list {
  padding-left: 30px;
  transition: transform 0.3s ease-in-out;
  max-width: 33.333%;
}
.home7_data figcaption {
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.home7_data figcaption h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  padding: 20px 20px;
  color: #fff;
}
.home7_current_detail small {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  color: #fff;
  padding-bottom: 15px;
}
.home7_current_detail small:last-child {
  padding-bottom: 0px;
}
.home7_current_detail {
  margin-top: 30px;
}
@media (max-width: 1500px) {
  .home_sec7 {
    padding: 156px 0px 156px 20px;
  }
}
@media (max-width: 1250px) {
  .home_sec7 {
    margin-bottom: 80px;
  }
  .home7_slider_box {
    flex: 0 0 70%;
    max-width: 70%;
  }
  .home7_current_slider {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .home_sec7 {
    padding: 90px 0px 150px 20px;
  }
  .home7_header h2 {
    font-size: 38px;
    line-height: 35px;
    padding-bottom: 22px;
  }
  .home7_header p {
    font-size: 16px;
    line-height: 23px;
  }
  .home7_header {
    margin-bottom: 30px;
  }
  .home7_data figcaption h3 {
    font-size: 20px;
    line-height: 29px;
  }
  .home7_current_data small {
    font-size: 20px;
    line-height: 25px;
  }
  .home7_current_detail {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) {
  .home_sec7 {
    margin-bottom: 60px;
  }
  .home7_single_list {
    padding-left: 15px;
  }
  .home7_slider_box {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .home7_current_slider {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@media (max-width: 768px) {
  .home7_current_slider {
    display: none !important;
  }
  .home7_slider_box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home7_single_list {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home_sec7 {
    padding: 48px 10px 63px 10px;
  }
  .home7_header {
    padding-left: 10px;
    padding-right: 10px;
  }
  .home7_header h2 {
    font-size: 28px;
    line-height: 36px;
    padding-bottom: 15px;
  }
  .home7_header p {
    font-size: 14px;
    line-height: 20px;
  }
  .home7_header {
    margin-bottom: 15px;
  }
  .home7_current_detail {
    display: flex !important;
  }
  .home7_current_detail small {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
  }
  .home7_current_detail {
    margin-top: 30px;
  }
}

/* home section 8 style */
.home_sec8 {
  margin-bottom: 120px;
  padding: 0px 20px;
}
.home8_header{
  padding-bottom: 30px;
}
.home8_header h2{
  font-family: "Cormorant Garamond", serif;
font-size: 56px;
font-weight: 700;
line-height: 66px;
color: #000;
}
.home8_tabs{
  border: unset !important;
}
.home8_tabs li{
list-style: none;
margin-right: 30px;
}
.home8_tabs li:last-child{
margin-right: 0px;
}
.home8_tabs li button{
list-style: none;
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #000;
border: unset !important;
padding: 0px !important;
}
.home8_tabs li button:hover{
  color: #000 !important;
}
.home8_tabs li button.active{
 color: #C0221F !important;
 text-decoration: underline;
}
.home8_box{
  margin: 0px -15px;
}
.home8_single_box{
padding: 0px 15px;
flex: 0 0 60%;
max-width: 60%;
}
.home8_listing{
  padding: 0px 15px;
  flex: 0 0 40%;
max-width: 40%;
}

.home8_single_box figcaption{
  bottom: 0px;
  left: 0px;

}
.home8_single_box_content {
  padding: 30px 30px;
}
.home8_single_box_content small{
  background: #C0221F;
font-size: 18px;
font-weight: 400;
line-height: 24px;
padding: 5px 30px;
margin-bottom: 10px;
color: #fff !important;
}
.home8_single_box_content h4{
  font-family: "Cormorant Garamond", serif;
font-size: 36px;
font-weight: 700;
line-height: 46px;
margin-bottom: 15px;
color: #fff;
}
.home8_single_box_content span{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #fff;
}


.home8_single_list{
margin: 0px -15px;
padding-bottom: 30px;
}
.home8_single_list figure{
flex: 0 0 40%;
max-width: 40%;
padding: 0px 15px;
}
.home8_single_list_content {
  flex: 0 0 60%;
max-width: 60%;
padding: 0px 15px;
}
.home8_single_list:last-child{
  padding-bottom: 0px;
}
.home8_single_list figure span{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #fff;
}


.home8_single_list_content small{
  background: #C0221F;
font-size: 18px;
font-weight: 400;
line-height: 24px;
padding: 5px 30px;
margin-bottom: 10px;
color: #fff !important;
}
.home8_single_list_content h4{
  font-family: "Cormorant Garamond", serif;
font-size: 36px;
font-weight: 700;
line-height: 46px;
margin-bottom: 15px;
color: #000;
}
.home8_single_list_content p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
color: #000;
}
@media (max-width: 1250px) {
  .home_sec8 {
    margin-bottom: 80px;
  }
  .home8_header h2 {
    font-size: 38px;
    line-height: 48px;
}
  .home8_single_list_content h4 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
}
.home8_single_list_content p {
    font-size: 16px;
    line-height: 20px;
}
.home8_single_list {
    margin: 0px -10px;
    padding-bottom: 20px;
}
.home8_single_list_content {
    padding: 0px 10px;
}
.home8_single_list figure {
    padding: 0px 10px;
}
.home8_single_list_content small {
    font-size: 14px;
    line-height: 20px;
  }
  .home8_box {
    margin: 0px -10px;
}
  .home8_listing {
    padding: 0px 10px;
  }
  .home8_single_box {
    padding: 0px 10px;
  }
  .home8_single_box_content h4 {
    font-size: 26px;
    line-height: 32px;
  }
  .home8_single_box_content span {
    font-size: 14px;
    line-height: 20px;

}
.home8_single_box_content small {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}
}


@media (max-width: 1024px) {
  .home_sec8 {
    margin-bottom: 60px;
  }
  .home8_listing {
    display: none !important;
}
.home8_single_box {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0px !important;
}
.home8_box {
        margin: 0px 0px !important;
    }
   
}
@media (max-width: 767px) {
  .home8_header {
    flex-direction: column !important;
    align-items: center !important;
}

.home8_header h2 {
        font-size: 28px;
        line-height: 34px;
        padding-bottom: 15px;
    }
    .home8_single_box_content {
    padding: 20px 20px;
}
  } 
  @media (max-width: 540px) {
  .home8_header {
    padding-bottom: 15px;
}
.home8_single_box_content small {
        font-size: 14px;
        line-height: 20px;
        padding: 5px 10px;
        margin-bottom: 5px;
    }
    .home8_single_box_content h4 {
        font-size: 24px;
        line-height: 30px;
    }
}


/* insta section style */

.insta_section {
  margin-bottom: 120px;
  padding: 0px 20px;
}
.insta_heading {
  padding-bottom: 30px;
}

.insta_heading h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #000000;
}

.insta_btn a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 34px;
  color: #fff !important;
  background: #c0221f;
  border: 1px solid #c0221f;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.insta_btn a:hover{
  border-color: #000;
  color: #000 !important;
  background: #fff;
}
.insta_listing_main {
  margin-bottom: 61px;
}

.insta_listing a {
  max-width: 25%;
  padding: 0px 15px;
}

@media (max-width: 1250px) {
  .insta_section {
    margin-bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .insta_section {
    margin-bottom: 60px;
  }
  .insta_heading h3 {
    font-size: 34px;
    line-height: 41px;
  }
  .insta_heading {
    padding-bottom: 25px;
  }
  .insta_listing_main {
    margin-bottom: 50px;
  }
  .insta_section {
    padding: 0px 0px;
  }
}

@media (max-width: 768px) {
  .insta_heading {
    padding-bottom: 15px;
  }
  .insta_heading h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .insta_listing_main {
    margin-bottom: 30px;
  }
  .insta_btn a {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 34px;
  }
  .insta_listing a {
    padding: 0px 6px;
  }
}

/* footer style */

.footer_section {
  background: #c0221f;
  padding: 0px 20px;
}
.footer_header {
  border-bottom: 1px solid #ffffff1f;
  padding-bottom: 60px;
  margin-bottom: 60px;
  padding-top: 90px;
}
.footer_header figure {
  width: 170px;
  padding-bottom: 29px;
}

.footer_header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  max-width: 1080px;
}
.footer_content_parent {
  grid-template-columns: 5fr 1fr;
  gap: 30px 20px;
  margin-bottom: 60px;
}
.footer_content {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 20px;
}

.footer_listing_header {
  padding-bottom: 30px;
}
.footer_listing_header h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}
.footer_listing li {
  list-style: none;
  padding-bottom: 20px;
}
.footer_listing li:last-child {
  padding-bottom: 0px;
}
.footer_listing li a {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7) !important;
}
.footer_listing li a:hover {
  color: rgba(255, 255, 255, 1);
}
.copyright_footer {
  border-top: 1px solid #ffffff1f;
  padding: 30px 0px 54px 0px;
}
.copyright_footer p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
.footer_app_links li a {
  max-width: 317px;
}
.footer_app_links li {
  padding: 0px;
}
.footer_app_links li:first-child {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .footer_content {
    grid-template-columns: 1fr 1fr;
  }
  .footer_content_parent {
    grid-template-columns: 3fr 1fr;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 540px) {
  .footer_content_parent {
    grid-template-columns: 1fr;
  }
  .footer_app_links li a {
    display: flex;
    margin: 0 auto;
  }
  .footer_app_links li a {
    max-width: 262px;
  }
  .footer_app_links li:first-child {
    margin-bottom: 5px;
  }
  .footer_header {
    justify-content: flex-start !important;
    text-align: left !important;
    align-items: flex-start !important;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-top: 60px;
  }
  .footer_header figure {
    width: 136px;
  }
  .footer_header p {
    font-size: 14px;
    line-height: 21px;
    max-width: 100%;
  }
  .footer_content_parent {
    margin-bottom: 30px;
  }
  .copyright_footer {
    padding: 15px 0px 26px 0px;
  }
  .copyright_footer p {
    font-size: 14px;
    line-height: 20px;
  }
  .footer_listing_header h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .footer_listing_header {
    padding-bottom: 20px;
  }
  .footer_listing li a {
    font-size: 14px;
  }
  .footer_listing li {
    padding-bottom: 15px;
  }
  .footer_content {
    gap: 60px 20px;
  }
}

/* footer newsletter style */
.newsletter_section {
  padding: 49px 20px 37px 20px;
  background: #000000;
}
.newsletter_box {
  gap: 20px 20px;
  grid-template-columns: 1fr 1fr;
}

.newsletter_content h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.home_newsletter_two_box {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: ". .";
  gap: 20px 20px;
  width: 100%;
}

.newsletter_fields input {
  backdrop-filter: blur(50px);
  background-color: #262626;
  border: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 155px 15px 55px;
  margin: 0px !important;
  height: 64px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}
.newsletter_fields input:focus-visible {
  outline: none !important;
}
.newsletter_fields input::placeholder {
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.55);
  display: flex;
  align-items: center;
}
.newsletter_fields i {
  position: absolute;
  top: 22px;
  left: 23px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  border-radius: unset;
  z-index: 1;
}
.newsletter_fields button {
  position: absolute;
  content: "";
  top: 16px;
  right: 23px;
  border: unset !important;
  background: #c0221f;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 5px 31px;
  color: #fff;
  border-radius: unset;
}
.newsletter_fields button:hover {
  color: #fff;
}
.newsletter_fields button:focus {
  outline: 0;
  box-shadow: unset !important;
}

@media (max-width: 1024px) {
  .newsletter_box {
    grid-template-columns: 1fr;
    gap: 15px 20px;
  }
  .newsletter_section {
    padding: 30px 20px 30px 20px;
  }
}
@media (max-width: 768px) {
  .newsletter_content h3 {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 5px;
  }

  .newsletter_content p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 540px) {
  .newsletter_fields button {
    position: unset;
    margin-top: 30px;
    width: 172px;
    height: 34px;
    font-size: 14px;
  }
  .newsletter_fields input {
    padding: 15px 15px 15px 55px;
    height: 48px;
    font-size: 16px;
  }
  .newsletter_fields i {
    top: 12px;
  }
}

/* Campuses mega menu style */

div#CampusesMenu {
  padding: 0px !important;
}
div#CampusesMenu .modal-fullscreen-sm-down{
max-width: 100% !important;
}
div#CampusesMenu .modal-fullscreen-sm-down .modal-content {
border-radius: unset !important;
background: transparent !important;
}
.menu1_parent{
background-image: url('images/Group 1000010417 (1).png');
background-size: cover;
background-repeat: no-repeat; 
padding: 70px 20px 200px 20px;
}

.menu1_header{
margin-bottom: 120px;
} 
.menu1_header h5{
font-size: 56px;
font-weight: 700;
line-height: 66px;
font-family: "Cormorant Garamond", serif;
color: #fff;  
}
.menu1_header img{
  max-width: 184px;
  margin-right: 128px;
}
.menu1_header a{
font-size: 25px;
font-weight: 400;
line-height: 35px;
color: #fff !important;
cursor: pointer;  
}
.menu1_header a span{
  text-decoration: underline;
}
.menu1_header a i{
  font-size: 16px;
  margin-left: 15px;
}
.menu1_box{
  grid-template-columns: 1fr 1fr;
  gap: 45px 20px;
  margin-bottom: 150px;
}
.menu1_box a{
font-size: 36px;
font-weight: 700;
line-height: 46px;
font-family: "Cormorant Garamond", serif;
color: #fff !important;
}

.menu1_box2 h4{
  font-family: "Cormorant Garamond", serif;
font-size: 75px;
font-weight: 700;
line-height: 85px;
color: #C0221F;
padding-bottom: 60px;
}
.menu1_box2_listing{
  grid-template-columns: 1fr 1fr;
  gap: 45px 20px;
}
.menu1_box2_listing a{
font-size: 36px;
font-weight: 700;
line-height: 46px;
font-family: "Cormorant Garamond", serif;
color: #fff !important;
}

@media(max-width:1250px){
.menu1_header h5 {
  font-size: 38px;
  line-height: 48px;
}
.menu1_header img {
  max-width: 148px;
  margin-right: 60px;
}
.menu1_header a {
  font-size: 20px;
  line-height: 30px;
}
.menu1_header a i {
  font-size: 13px;
}
.menu1_header {
  margin-bottom: 80px;
}
.menu1_box a {
  font-size: 28px;
  line-height: 40px;
}
.menu1_box {
  gap: 30px 20px;
  margin-bottom: 100px;
}

.menu1_box2 h4 {
  font-size: 54px;
  line-height: 62px;
  padding-bottom: 48px;
}
.menu1_box2_listing a {
  font-size: 28px;
  line-height: 40px;
}
.menu1_box2_listing {
  gap: 30px 20px;
}
}
@media(max-width:1024px){
.menu1_parent {
  padding: 60px 20px 80px 20px;
}
}
@media(max-width:768px){
.menu1_parent {
      padding: 75px 20px 60px 20px;
  }
.menu1_header h5 {
      font-size: 30px;
      line-height: 42px;
  }
.menu1_box a {
  font-size: 18px;
  line-height: 30px;
}
.menu1_box {
  gap: 20px 20px;
  margin-bottom: 60px;
}
.menu1_header {
      margin-bottom: 60px;
  }
.menu1_box2 h4 {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 30px;
}
.menu1_box2_listing {
  gap: 20px 20px;
  grid-template-columns: 1fr;
}
.menu1_box2_listing a {
  font-size: 18px;
  line-height: 30px;
}
.menu1_header a {
      position: absolute;
      top: 20px;
      right: 20px;
      content: "";
  }
  .menu1_header img {
      max-width: 120px;
      margin-right: 0px;
  }
  .menu1_box {
      gap: 20px 20px;
      grid-template-columns: 1fr;
  }
  }


  /* Academics mega menu style */

  div#AcademicsMenu {
    padding: 0px !important;
}
div#AcademicsMenu .modal-fullscreen-sm-down{
max-width: 100% !important;
}
div#AcademicsMenu .modal-fullscreen-sm-down .modal-content {
border-radius: unset !important;
background: transparent !important;
}
  .menu2_parent{
    background-image: url('images/Mask group (35).png');
background-size: cover;
background-repeat: no-repeat; 
padding: 70px 20px 200px 20px;
}

 .menu2_header{
margin-bottom: 120px;
 } 
  .menu2_header h5{
font-size: 56px;
font-weight: 700;
line-height: 66px;
font-family: "Cormorant Garamond", serif;
color: #fff;  
}
  .menu2_header img{
    max-width: 184px;
    margin-right: 128px;
  }
  .menu2_header a{
font-size: 25px;
font-weight: 400;
line-height: 35px;
color: #fff !important;
cursor: pointer;  
}
  .menu2_header a span{
    text-decoration: underline;
  }
  .menu2_header a i{
    font-size: 16px;
    margin-left: 15px;
  }
  .menu2_content{
    padding-bottom: 90px;
  }
  .menu2_content:last-child{
    padding-bottom: 0px;
  }
  .menu2_content a{
font-size: 36px;
font-weight: 700;
line-height: 46px;
font-family: "Cormorant Garamond", serif;
  color: #fff !important;
  }
  .menu2_content small{
    padding-top: 15px;
font-size: 18px;
font-weight: 400;
line-height: 24px;
  color: #C0221F !important;
  }

 

@media(max-width:1250px){
  .menu2_header h5 {
    font-size: 38px;
    line-height: 48px;
  }
  .menu2_header img {
    max-width: 148px;
    margin-right: 60px;
}
.menu2_header a {
    font-size: 20px;
    line-height: 30px;
}
.menu2_header a i {
    font-size: 13px;
}
.menu2_header {
    margin-bottom: 80px;
}
.menu2_box a {
    font-size: 28px;
    line-height: 40px;
}
.menu2_content {
    padding-bottom: 60px;
}

}
@media(max-width:1024px){
.menu2_parent {
    padding: 60px 20px 80px 20px;
}
}
@media(max-width:768px){
  .menu2_parent {
        padding: 75px 20px 60px 20px;
    }
  .menu2_header h5 {
        font-size: 30px;
        line-height: 42px;
    }
.menu2_box a {
  font-size: 21px;
  line-height: 30px;
  }

  .menu2_header {
        margin-bottom: 60px;
    }
  .menu2_header a {
        position: absolute;
        top: 20px;
        right: 20px;
        content: "";
    }
    .menu2_header img {
        max-width: 120px;
        margin-right: 0px;
    }
    .menu2_content {
    padding-bottom: 40px;
}
.menu2_content small {
    padding-top: 12px;
    font-size: 16px;
    line-height: 18px;
}
    }